@import '~global/styles';

.dashboardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .contentWrapper {
    flex: 1;

    .leftMenu {
      .navLink {
        opacity: 0.7;

        &:hover,
        &.active {
          text-decoration: none;
          background-color: $primary-dark;
          opacity: 1;

          .iconWrapper {
            color: $secondary;
          }
        }
      }
    }

    .rightMenu {
      border-left: 1px solid $bluish-gray;
    }
  }

  .header {
    &Title {
      font-size: 21px;
    }

    .contentWrapper {
      display: flex;
    }
  }
}
