@import '~global/styles';

.dashboardWrapper {
  $leftMenuFlex: 0.15;
  $contentFlex: 1 - $leftMenuFlex;

  display: flex;
  flex-direction: column;
  height: 100%;

  .contentWrapper {
    display: flex;
    flex: 1;

    .leftMenu {
      flex: $leftMenuFlex;

      .navLink {
        opacity: 0.7;

        &:hover,
        &.active {
          text-decoration: none;
          background-color: $primary-dark;
          opacity: 1;

          .iconWrapper {
            color: $secondary;
          }
        }
      }
    }

    .body {
      flex: $contentFlex;
    }
  }

  .header {
    display: flex;

    .logoWrapper {
      flex: $leftMenuFlex;
    }

    .contentWrapper {
      display: flex;
      justify-content: flex-end;
      flex: $contentFlex;
    }
  }
}
