@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 100;
  font-style: normal;
  src:
    url('../../assets/fonts/helvetica-thin.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 300;
  font-style: normal;
  src:
    url('../../assets/fonts/helvetica-light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/helvetica.ttf') format('truetype');
}
